<h2>Checkout</h2>

<form [formGroup]="form" (submit)="postOrder()">
  <table>
    <tr>
      <td>Name: </td>
      <td>
        <input type="text" size="30" formControlName="name">
      </td>
    </tr>
    <tr>
      <td>Address: </td>
      <td>
        <input type="text" size="30" formControlName="address">
      </td>
    </tr>
    <tr>
      <td>Priority: </td>
      <td>
        <input type="checkbox" formControlName="priority">
      </td>
    </tr>
    <tr>
      <td>Comments: </td>
      <td>
        <textarea cols="30" rows="4" formControlName="comments"></textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="submit" [disabled]="form.invalid">Place Order</button>
      </td>
    </tr>
  </table>
</form>

<hr>

<table border="1" *ngIf="lineItems as data">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody *ngFor="let d of data">
    <tr>
      <td> {{d.name}} </td>
      <td>  &#8377; {{d.price |number : '1.2-2'}}</td>
      <td> {{d.quantity}}</td>
    </tr>
  </tbody>
  <tfoot>
    <td></td>
    <td>Total: </td>
    <td> {{total |number : '1.2-2' }}</td>
  </tfoot>
</table>
